html, body  {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  min-height: 0;
  flex-direction: column;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}


.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  height: 100%;
}

.sidebar.is-visible  ~ .content {
  flex-basis: 0;
}

/* Animation */
.content {
  transition: flex-basis .1s cubic-bezier(.465, .183, .153, .946);
  will-change: flex-basis;
}

.sidebar.is-visible  ~ .content {
  transition: flex-basis .3s cubic-bezier(.465, .183, .153, .946);
}

/* Look n feel */
* {
  box-sizing: border-box;
}

.sidebar-content {
  display: block;
  width: 300px;
  background-color: #eee;
  height: 100%;
  margin: 0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.content {
  padding: 20px;
}
